.color-background {
	position: absolute;
	top: 0;
	left: 0;
	margin: 0 auto;
	padding: 0;
	height: 100%;
	width: 100%;
	animation: colorBackground 20s infinite; /* Chrome, Firefox 16+, IE 10+, Opera 12.10+ */
	 -webkit-animation: colorBackground 20s infinite; /* Chrome, Safari 5+ */
	  -moz-animation: colorBackground 20s infinite; /* Firefox 5-15 */
}

@keyframes colorBackground {
	  0% { background-color: #fbcf61; color: #fbcf61; }
	 20% { background-color: #6bd57e; color: #6bd57e; }
	 40% { background-color: #ff6f6f; color: #ff6f6f; }
	 60% { background-color: #57cff4; color: #57cff4; }
	 80% { background-color: #0ed4c8; color: #0ed4c8; }
	100% { background-color: #fbcf61; color: #fbcf61; }
}
@-webkit-keyframes colorBackground {
	  0% { background-color: #fbcf61; color: #fbcf61; }
	 20% { background-color: #6bd57e; color: #6bd57e; }
	 40% { background-color: #ff6f6f; color: #ff6f6f; }
	 60% { background-color: #57cff4; color: #57cff4; }
	 80% { background-color: #0ed4c8; color: #0ed4c8; }
	100% { background-color: #fbcf61; color: #fbcf61; }
}
@-moz-keyframes colorBackground {
	  0% { background-color: #fbcf61; color: #fbcf61; }
	 20% { background-color: #6bd57e; color: #6bd57e; }
	 40% { background-color: #ff6f6f; color: #ff6f6f; }
	 60% { background-color: #57cff4; color: #57cff4; }
	 80% { background-color: #0ed4c8; color: #0ed4c8; }
	100% { background-color: #fbcf61; color: #fbcf61; }
}
@-o-keyframes colorBackground {
	  0% { background-color: #fbcf61; color: #fbcf61; }
	 20% { background-color: #6bd57e; color: #6bd57e; }
	 40% { background-color: #ff6f6f; color: #ff6f6f; }
	 60% { background-color: #57cff4; color: #57cff4; }
	 80% { background-color: #0ed4c8; color: #0ed4c8; }
	100% { background-color: #fbcf61; color: #fbcf61; }
}
